<div class="login-container__title">login</div>
          <form class="login-form" method="post" action="/proseslogin">
            <div class="login-form__input-email">
              <label for="email">email</label>
              <input type="email" name="email" placeholder="Masukkan Email" required/>
            </div>
            <div class="login-form__input-password">
              <label for="password">password</label>
              <input type="password" name="password" placeholder="Masukkan Password" required/>
            </div>
            <button class="login-form__button" type="submit">LOGIN</button>
            <div class="newuser__sign-in">Need an account?<a href="/regist"> Sign up</a></div>
          </form>