<div class="login-container__title">register</div>
          <form class="login-form" method="post" action="/prosesregist">
            <div class="login-form__input-email">
              <label for="email">email</label>
              <input type="email" name="email" placeholder="Masukkan Email"required/>
            </div>
            <div class="login-form__input-password">
              <label for="password">password</label>
              <input type="password" name="password"placeholder="Masukkan Password" required/>
            </div>
            <button class="login-form__button" type="submit" >REGISTER</button>
            <div class="newuser__sign-in">Have an account?<a href="/login"> Sign in</a></div>
          </form>