<div class="container">
    <div class="container">

        <h1>Home</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum obcaecati ad ab accusantium eius odio et asperiores placeat, dolores porro nam, in, quo magni. Cum dignissimos natus doloremque perferendis quos adipisci nemo consequuntur delectus ipsum architecto minima animi debitis nisi deserunt nostrum omnis similique numquam sunt, consectetur, vitae, quis odio asperiores? Vel dolor error veniam tempore sit nihil placeat praesentium itaque velit eum inventore perferendis ullam tempora nesciunt nam perspiciatis voluptatem sapiente enim saepe, obcaecati rerum porro pariatur. Qui vitae iste ad atque pariatur maxime eos voluptatem, ut dolore facere nihil iure excepturi nisi. Culpa ullam accusantium architecto laboriosam fugiat!</p>
    </div>
</div>

<form action="/logout"  method="post">
    <input type="submit" value="Logout" onclick="return confirm('Anda Yakin Ingin Logout? ')">
</form>
<!-- <a href="/logout" onclick="return confirm('Anda Yakin Ingin Logout? ')">Logout</a> -->